{% extends 'base.html' %} {% load i18n %} {% block title %} 
{% trans 'Abrasive Detail' %} {% endblock %} {% block content %}


{% if messages %}
<p>Messages</p>
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %} 

<div class="text-center pt-4">
    <h4>
      {% trans 'Abrasive Name:' %}&ThickSpace;{{ object.name }} 
    </h4>
      {% for name, value in abrasives.abrasiveproperties.get_fields %}
        {% if name != "id" and name != "abrasive" %}
          {% if value %}
          <p>{{ name }}:&ThickSpace;{{ value }}</p>
          {% endif %}
        {% endif %}
      {% endfor %}  
</div>
<br />
<div class="text-center">
<a
  type="button"
  class="btn btn-primary mb-2 mt-4 "
  href="{% url 'abrasive:update-abrasive' object.id %}"
>
  {% trans 'Update Name and Chemical Compounds' %}
</a>
<br />
<a
  type="button"
  class="btn btn-primary mb-2"
  href="{% url 'abrasive:update-properties' object.id %}"
>
  {% trans 'Update Abrasive Properties' %}
</a>
<br />
<hr />
<form action="{% url 'abrasive:delete-abrasive' object.id %}" method="post">
  {% csrf_token %}
  <button class="btn btn-danger" type="submit">Delete</button>
  <a type="button" class="btn btn-secondary" href="{% url 'abrasive:list-abrasive' %}">
    {% trans 'Back' %}
  </a>
</form>
</div>
{% endblock %}
