{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans 'List Natural Stones' %}
{% endblock %}
{% block content %}
{% if messages %}
<p> Messages </p>
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

{% if stones %}
{% for stone in stones %}
<div class="text-center mt-5">
    <a 
    type="button" 
    class="btn btn-light mt-2" 
    href="{% url 'atik:detail-stone' stone.id %}"
    >
        {{ stone.name }}
    </a>

</div>
{% endfor %}
{% else %}
<br />
{% trans 'There is no natural stone to show!' %}
{% endif %}


<hr />
<footer>
    <div class="text-center mt-3">
        <a type="button" class="btn btn-secondary"
        href="{% url 'landingpage' %}"
        >
        {% trans 'Back' %}
        </a>
    </div>
</footer>



{% endblock %}