<a href="{% url 'main-page' %}" >Back to the Main Page</a>

<hr>

stones
{% for stone in stones %}
<br>
<a href="{% url 'cut:stone-detail' stone.pk %}">{{stone}}</a>
{% endfor %}
<hr>
abrasives
{% for abrasive in abrasives %}
<br>
<a href="{% url 'cut:abrasive-detail' abrasive.pk %}">{{abrasive}}</a>

{% endfor %}

<hr>

{% for data in cutting_data %}
<br>
<a href="{% url 'cut:cutting-data-detail' data.pk %}">{{data}}</a>

{% endfor %}
<hr>
ADD DATA:
<a href='{% url "cut:stones-add" %}'>add stone</a>
<a href='{% url "cut:abrasives-add" %}'>add abrasive</a>
<a href='{% url "cut:cutting-data-add" %}'>add cutting data</a>


